.footer {
  background-color: #2f303a;
}
.footer-item {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contacts-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.main-contacts-item:not(:last-child) {
  margin-bottom: 8px;
}
.main-contacts-list {
  margin-bottom: 60px;
}
.sotial-join-container {
  min-width: 206px;
  padding-bottom: 60px;
  padding-left: 130px;
  padding-right: 130px;
}
.link-bg {
  background: rgba(255, 255, 255, 0.1);
}
.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-head,
.sotial-join__hed {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.subscription-user-name {
  width: 450px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.subscription-button {
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.subscription-button__footer {
  margin-top: 20px;
}
.subscription-button-text {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.subscription-icon {
  display: block;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .footer-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .sotial-join-container {
    padding-top: 14px;
    padding-bottom: 88px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main-contacts-list {
    margin-bottom: 0;
  }
  .sotial-join-container {
    min-width: 206px;
    padding-bottom: 0;
    padding-top: 0;
  }

  .subscription-user-name {
    width: 358px;
  }
  .adress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main-contacts-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .the-logo__container {
    margin-bottom: 20px;
  }
  .subscription {
    display: block;
  }
  .subscription-form {
    display: flex;
  }
  .subscription-button {
    margin-top: 0;
  }
  .subscription-button__footer {
    margin-left: 12px;
  }
  .subscription-head {
    text-align: start;
  }
}
