.header {
  background: #ffffff;
  border: 1px solid #ececec;
}
.header-container {
  max-width: 450px;
}
.navigation {
  display: none;
}
.header__contacts {
  display: none;
}
.navigation {
  display: none;
}
.header__contacts {
  display: none;
}
.header {
  background: #ffffff;
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .header-container {
    display: flex;
    align-items: center;
    max-width: 768px;
  }
  .navigation {
    display: flex;
  }
  .menu {
    display: flex;
    align-items: center;
  }

  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts__item {
    display: flex;
    align-items: center;
  }
  .header__contacts {
    margin-left: auto;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__item-link_current {
    color: var(--accent-color);
  }
  .menu__item-link_current::before {
    content: "";
    display: block;
    width: 48px;
    height: 4px;
    position: absolute;
    margin-top: 76px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .menu__item-link_current-portfolio-line::before {
    width: 78px;
  }
  .menu__item-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    align-items: center;
    max-width: 1600px;
  }
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__icon {
    margin-right: 10px;
  }
}
