.direction-heading,
.team-heading,
.company-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.secton__heading {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .direction-heading,
  .team-heading,
  .company-heading {
    font-size: 36px;
    line-height: 1.17;
  }
  .secton__heading {
    margin-bottom: 50px;
  }
}
