.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header__logo {
  margin-right: 72px;
}

.logo_color {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.the-logo__container {
  margin-bottom: 20px;
  padding-top: 60px;
}

.footer_logo {
  margin-right: 0px;
  color: #ffffff;
}
